
{% for post in latest_posts %}
<div class="container">
  <div class="item mb-5">
    <div class="media">
      <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.cover.url }}" alt="image">
      <div class="media-body">
        <h3 class="title mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <div class="meta mb-1"><span class="date">Published {{ post.publish }} by {{ post.author }}</span>
          <span class="comment">
            <a href="#">
            {% with comments.count as total_comments %}
            {{ total.comments }} comment{{ total.comments|pluralize }}
            {% endwith %}</a>
          </span>
        </div>
        <div class="intro">
          {{ post.body|truncatewords:30|linebreaks }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}