
{% for post in latest_posts %}
<div class="container">
  <div class="item mb-5">
    <div class="media">
      {% if post.imagess %}
      <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.imagess.url }}" alt="image">
      {% endif %}
      <div class="media-body">
        <h3 class="title mb-1">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <div class="meta mb-1">
          <span class="date">
            Published {{ post.publish }} by {{ post.author }}
          </span>
          <span class="comment">
            <a href="{{ post.get_absolute_url }}">
            {% with comments.count as total_comments %}
            {{ total.comments }} comment{{ total.comments|pluralize }}
            {% endwith %}</a>
          </span>
        </div>
        <div class="intro">
          {{ post.body|truncatewords:30|linebreaks }}
        </div>
        <a class="more-link" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}