{% extends "blog/base.html" %}
{% load static %}
{% block title %}blog{% endblock %}

{% block page_content %}
{% for post in posts %}
    <div class="container">
        <div class="item mb-5">
            <div class="media">
                {% if post.imagess %}
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.imagess.url }}" alt="img">
                {% endif %}
                {% if tag %}
                <h4>Posts tagged with "{{ tag.name }}%</h4>
                {% endif %}
                <div class="media-body">
                    <h3 class="title mb-1">
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title}}
                        </a>
                    </h3>
                    <div class="meta mb-1">
                        <i>
                        tag:
                        {% for tag in post.tags.all %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </i>
                    </div>
                        <div class="meta mb-1">
                            <span class="date">
                                Published {{ post.publish }} by {{ post.author }}
                            </span>
                            <span class="comment" id="comments">
                                <a href="{{ post.get_absolute_url }}#wpac-comment">
                                    {% with comments.count as total_comments %}
                                    {{ total.comments }} comment{{ total_comments|pluralize }}
                                    {% endwith %}
                                </a>
                            </span>
                        </div>
                    <div class="intro">
                        <p>
                            {{ post.body|truncatewords:30|linebreaks }}
                        </p>
                    </div>
                    <a class="more-link" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
